@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'MinionPro', sans-serif;
}

@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionItalic';
  src: url('/fonts/Minion-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
