/* Classes Styles */
.cls-a1 {
    fill: #203a38;
  }
  
  .cls-a2 {
    fill: #d18d50;
  }
  
  .cls-a3 {
    fill: #6d7c52;
  }
  
  .cls-a4 {
    fill: #ebd4ce;
  }
  
  .cls-a5 {
    fill: #d6dde7;
  }
  
  .cls-a6 {
    fill: #9fbed1;
  }
  
  .cls-a7 {
    fill: #9b8e86;
  }
  
  .cls-a8 {
    fill: #3f3d56;
  }
  
  .cls-a9 {
    fill: #f9f5ca;
  }
  
  .cls-a10 {
    stroke: #ebab6c;
    fill: none;
    stroke-miterlimit: 10;
  }
  
  .cls-a11 {
    stroke: #57585b;
    fill: none;
    stroke-width: 2px;
    stroke-miterlimit: 10;
  }
  
  .cls-a12 {
    stroke: #9e3016;
    fill: none;
    stroke-width: 6px;
    stroke-miterlimit: 10;
  }
  
  .cls-a13 {
    fill: #a4a6ab;
  }
  
  .cls-a14 {
    opacity: 0.6;
  }
  
  .cls-a15 {
    fill: #344266;
  }
  
  .cls-a16 {
    fill: #fffeff;
  }
  
  .cls-a17 {
    fill: #466665;
  }
  
  .cls-a18 {
    fill: #bb5333;
  }
  
  .cls-a19 {
    fill: #74131f;
  }
  
  .cls-a20 {
    fill: #9a1616;
  }
  
  .cls-a21 {
    fill: #d97767;
    isolation: isolate;
    opacity: 0.4;
  }
  
  .cls-a22 {
    fill: #2f4948;
  }
  
  .cls-a23 {
    fill: #b23918;
  }
  
  .cls-a24 {
    fill: #304946;
  }
  
  .cls-a25 {
    fill: #ebab6c;
  }
  
  .cls-a26 {
    fill: #293456;
  }
  
  .cls-a27 {
    fill: #d9b080;
  }
  
  .cls-a28 {
    fill: #aa6b37;
  }
  
  .cls-a29 {
    fill: #9e3016;
  }