/* Classes Styles */
.cls-1 {
    fill: #203a38;
  }
  
  .cls-2 {
    fill: #d18d50;
  }
  
  .cls-3 {
    fill: #6d7c52;
  }
  
  .cls-4 {
    fill: #ebd4ce;
  }
  
  .cls-5 {
    fill: #d6dde7;
  }
  
  .cls-6 {
    fill: #9fbed1;
  }
  
  .cls-7 {
    fill: #9b8e86;
  }
  
  .cls-8 {
    fill: #3f3d56;
  }
  
  .cls-9 {
    fill: #f9f5ca;
  }
  
  .cls-10 {
    stroke: #ebab6c;
    fill: none;
    stroke-miterlimit: 10;
  }
  
  .cls-11 {
    stroke: #57585b;
    fill: none;
    stroke-width: 2px;
    stroke-miterlimit: 10;
  }
  
  .cls-12 {
    stroke: #9e3016;
    fill: none;
    stroke-width: 6px;
    stroke-miterlimit: 10;
  }
  
  .cls-13 {
    fill: #a4a6ab;
  }
  
  .cls-14 {
    opacity: 0.6;
  }
  
  .cls-15 {
    fill: #344266;
  }
  
  .cls-16 {
    fill: #fffeff;
  }
  
  .cls-17 {
    fill: #466665;
  }
  
  .cls-18 {
    fill: #bb5333;
  }
  
  .cls-19 {
    fill: #74131f;
  }
  
  .cls-20 {
    fill: #9a1616;
  }
  
  .cls-21 {
    fill: #d97767;
    isolation: isolate;
    opacity: 0.4;
  }
  
  .cls-22 {
    fill: #2f4948;
  }
  
  .cls-23 {
    fill: #b23918;
  }
  
  .cls-24 {
    fill: #304946;
  }
  
  .cls-25 {
    fill: #ebab6c;
  }
  
  .cls-26 {
    fill: #293456;
  }
  
  .cls-27 {
    fill: #d9b080;
  }
  
  .cls-28 {
    fill: #aa6b37;
  }
  
  .cls-29 {
    fill: #9e3016;
  }