/* SVG Map Styles */
.cls-1 { fill: #583d35; }
.cls-2, .cls-3 { stroke: #96765f; }
.cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, 
.cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17 {
  stroke-miterlimit: 10;
}
.cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-18, .cls-9, .cls-10, 
.cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17 {
  fill: none;
}
.cls-2, .cls-4, .cls-10, .cls-11 { stroke-width: 2px; }
.cls-19 { fill: #6b544f; }
.cls-20 { fill: #6d7c52; }
.cls-21 { fill: #2f2e41; }
.cls-3, .cls-7, .cls-14, .cls-17 { stroke-width: .8px; }
.cls-22 { fill: #ed857c; }
.cls-23, .cls-8 { fill: #becde5; }
.cls-24 { fill: #94646b; }
.cls-25 { fill: #234242; }
.cls-26 { fill: #eae4da; }
.cls-27 { fill: #f9f2e5; }
.cls-28 { fill: #ede6da; }
.cls-4, .cls-15 { stroke: #b4af3e; }
.cls-5 {
  stroke: #4f3e3b;
  stroke-width: 6px;
}
.cls-29 { fill: #f6d67c; }
.cls-30 { fill: #4f3e3b; }
.cls-6 { stroke: #9a1616; }
.cls-6, .cls-8 { stroke-width: 11px; }
.cls-31 { fill: #f3b8b7; }
.cls-32 { fill: #ebd4ce; }
.cls-33, .cls-7, .cls-34, .cls-35, .cls-36, .cls-37, .cls-14, 
.cls-17, .cls-38, .cls-39 {
  isolation: isolate;
}
.cls-33, .cls-7, .cls-36, .cls-14, .cls-17, .cls-39 {
  font-family: BimboPro-Ballpoint, 'Bimbo Pro';
}
.cls-33, .cls-7, .cls-17, .cls-39 { font-size: 28.3px; }
.cls-33, .cls-36 { fill: #840603; }
.cls-7, .cls-14 { stroke: #840603; }
.cls-8, .cls-17 { stroke: #ffecc3; }
.cls-40 { fill: #dcf4fe; }
.cls-41 { fill: #f0a361; }
.cls-42 { fill: #741f22; }
.cls-43 { fill: #9b8e86; }
.cls-44 { fill: #e5e5e5; }
.cls-45 { fill: #3f3d56; }
.cls-46 { fill: #000018; }
.cls-47 { fill: #5a6643; }
.cls-48 { fill: #0b1941; }
.cls-49 { fill: #b4af3e; }
.cls-50 { fill: #f9f5ca; }
.cls-51 { fill: #95ba9d; }
.cls-52 { fill: #003739; }
.cls-9 { stroke-width: 3px; }
.cls-9, .cls-10 { stroke: #dcf4fe; }
.cls-53 { fill: #1f1f1f; }
.cls-54 { fill: #f2c7bf; }
.cls-55, .cls-39 { fill: #ffecc3; }
.cls-56 { fill: #e6a5a7; }
.cls-57 { fill: #e6e7d9; }
.cls-58 { fill: #472f2d; }
.cls-35, .cls-37 { opacity: .1; }
.cls-59 { fill: #dbdbdb; }
.cls-60 { fill: #004040; }
.cls-11 {
  fill: #960700;
  stroke: #ebab6c;
}
.cls-61 { fill: #ddb78d; }
.cls-62 { fill: #c6976b; }
.cls-63 { fill: #2f2e40; }
.cls-64, .cls-37, .cls-38 { fill: #f8f2e6; }
.cls-36, .cls-14 { font-size: 30.6px; }
.cls-65 { fill: #3f3d54; }
.cls-66 { fill: #362625; }
.cls-67 { fill: #e5b163; }
.cls-68 { fill: #a5c5a6; }
.cls-69 { fill: #996258; }
.cls-70 { fill: #ba2727; }
.cls-71 { fill: #466665; }
.cls-12, .cls-13 { stroke-width: 10px; }
.cls-12, .cls-16 { stroke: #583d35; }
.cls-72 { fill: #98deea; }
.cls-73 { fill: #bb5333; }
.cls-74 { fill: #efe8df; }
.cls-76 { fill: #cc271f; }
.cls-13 { stroke: #dbdbdb; }
.cls-77 { fill: #5e7c6a; }
.cls-78 { fill: #821d1d; }
.cls-79 { fill: #95a572; }
.cls-80 { fill: #d4a550; }
.cls-81 { fill: #74131f; }
.cls-82 { fill: #295640; }
.cls-83 { fill: #1b4b4c; }
.cls-84 { fill: #8b5e2d; }
.cls-15 { stroke-width: 8px; }
.cls-85 { fill: #886c64; }
.cls-86 { fill: #ead7a7; }
.cls-87 { fill: #011111; }
.cls-88 { fill: #4a352f; }
.cls-89 { fill: #9a1616; }
.cls-90 { fill: #d39257; }
.cls-91 { fill: #59423e; }
.cls-92 { fill: #304946; }
.cls-38, .cls-93 { opacity: .2; }
.cls-94 { fill: #ebab6c; }
.cls-95 { fill: #293456; }
.cls-96 { fill: #d9b080; }
.cls-97 { fill: #fefaa4; }
.cls-99 { fill: #653833; }
.cls-100 { fill: #96765f; }
.cls-101 { fill: #225655; }